body {
  background-color: #00afdb;
  border-top: 15px solid black;
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  font-size: 4em;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
h2 {
  font-size: 3em;
}

a {
  font-size: 45px;
  color: black;
}
a:hover{
  background-color: white;
  border-radius: 10px;
}
p{
  font-size: 45px;
  font-style: italic;
  color: #00afdb;
}
#defaultImage {
  margin-left: 300px;
}

li {
  font-size: 25px;
  list-style: none;
}
.food {
  list-style: initial;
}

#labelForIngredients, #labelForFoodPairings {
  text-decoration: underline;
}

#label {
  color: #00afdb;
  font-weight: bold;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.details {
  width: 95%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px 20px 20px;
}
.ingredient {
  line-height: 35px;
}
.beers{
  padding: 5px;
}

#beer-list {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  margin: 40px;
  padding: 10px;
}
#partOne{
  width: 70%;
  padding-left: 30px;
}
#partTwo {
  width: 20%;
  padding: 10px;
}

/*images */
#imageofBeer {
  width: 150px;
}

#logo {
  width: 75%;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-right: 25px;
}

#facebooklogo, #twitterlogo {
  width: 80px;
}

#popUp {
    display: none; /* default hidden */
    position: fixed; /* static doesn't popup  anywhere else whereas fixed and absolute do */
    z-index: 1; /* Sit on top */
    left: 300px;
    top: 100px;
    width: 700px;
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.4);
    border: 5px solid #FF5181;
    border-radius: 10px;
}

/* popup details */
.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

#popupContent {
  padding: 5px;
}

figcaption {
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-width: 150px;
}
