body {
  background-color: #00afdb;
  border-top: 15px solid black;
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  font-size: 4em;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
h2 {
  font-size: 3em;
}

a {
  font-size: 45px;
  color: black;
}
p{
  font-size: 45px;
  font-style: italic;
  color: #00afdb;
}
#defaultImage {
  margin-left: 300px;
}

li {
  font-size: 25px;
  list-style: none;
}
.food {
  list-style: initial;
}

#labelForIngredients, #labelForFoodPairings {
  text-decoration: underline;
}

#label {
  color: #00afdb;
  font-weight: bold;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.details {
  width: 95%;
  height: 900px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px 20px 20px;
}
.ingredient {
  line-height: 35px;
}
.beers{
  padding: 5px;
}


#beer-list {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  margin: 40px;
  padding: 10px;
}
#partOne{
  width: 70%;
  padding-left: 30px;
}
#partTwo {
  width: 20%;
  padding: 10px;
}

img.title {
  font-size: 30px;
}
button {
  width: 100px;
}

/*images */
#imageofBeer {
  width: 150px;
}
figure:hover {
  transform: scale(2);
}

#logo {
  width: 75%;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-right: 25px;
}

#facebooklogo, #twitterlogo {
  width: 80px;
}

.modal {
    display: none; /* default hidden */
    position: static; /* static doesn't popup  anywhere else whereas fixed and absolute do */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 170px;
    height: 500px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

:not(.modal:hover){
  display: none;
}

:not(.modal:focus){
  display: none;
}
/* popup details */
.modal-content {
    background-color: white;
    margin: 50% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}


/* popup Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
