body {
  background-color: #00afdb;
  font-family: 'Archivo Black', sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.beers{
  padding: 5px;
}

li {
  list-style: none;
}

#beer-list {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
}

/*images */
#imageofBeer {
  width: 150px;
}

#logo {
  width: 75%;
  border-radius: 10px;
  margin-bottom: 50px;
}
